# -*- coding: utf-8 -*-
# calls setup.py
-e .

# build
build

# doc
sphinx
m2r2==0.3.3.post2
pydata-sphinx-theme
sphinx-copybutton
# nbsphinx
# sphinx-automodapi
docutils==0.19

# Linters
pylint
flake8

# load testing
tqdm

# viz
seaborn

# tests
pytest
pytest-cov

# Useful for Makefile
distro

jupyter
